<?php $_attributes = $block->getPieAttributes(); ?>
<?php if (!empty($_attributes)): ?>
    <div class="pie-charts">
        <?php foreach ($_attributes as $_attribute ): ?>
            <div class="pie-chart pie-chart--tooltip">
                <div class="pie-chart__chart p<?= $_attribute['value']; ?> tooltip-toggle">
                    <svg width="50" height="50">
                        <circle r="18" cx="25" cy="25"></circle>
                    </svg>
                    <span><?= $_attribute['displayValue']; ?></span>
                </div>
                <div class="pieAttributeInfoContainer"><span><?= $_attribute['label']; ?></span></div>
               <?php if( $_attribute['tooltip'] !== ""):?> <span class="tooltip-content"><?= $_attribute['tooltip']; ?></span><?php endif; ?>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>