@baseDir: '../';
@import 'source/_colors.less';
@import 'source/variables/_typography.less';
@import 'source/_typography.less';
@import 'source/_utilities.less';
@import 'source/_tooltips.less';

.pie-charts {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;
}

.pie-chart--tooltip {
  position: relative;
  width: 25%;
  text-align: center;
  .lib-tooltip(top);
}

.pieAttributeInfoContainer {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  float: left;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pie-chart__chart {
  position: relative;
  margin: auto;

  > span {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    color: #000;
    display: block;
    text-align: center;
    white-space: nowrap;
    margin: auto;
  }

  svg {
    display: block;
    transform: rotate(-90deg);
    margin: auto;
  }

  circle {
    stroke: #ccd2cc;
    stroke-width: 8;
    fill: #fff;
  }
}

.for(@number, @code) {
  & {
    .loop(@i: 1) when (@i =< @number) {
      @code();

      .loop(@i + 1);
    }

    .loop();
  }
}

.for(100, { .pie-chart__chart.p@{i} circle {
  @percentage: 113 / 100 * @i ;
  stroke-dasharray: @percentage 113;
} });

@media only screen and (min-width: 768px) {
  .pieAttributeInfoContainer {
    letter-spacing: -.5px;
  }

  .page-products .products-grid .product-item-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .page-products li.item.product.product-item {
    padding-bottom: 75px;
  }
}